@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sora:wght@100..800&family=Workbench&display=swap');

.navbar-text {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
  }

.my-font-title {
    font-family: "Permanent Marker", cursive;
    font-optical-sizing: auto;
}

.first-container {
    background-image: url('/storage/app/public/images/banner-bg.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
  }


  .second-container {
    background-image: url('/storage/app/public/images/banner-img.png');
    background-size: cover;
    background-position: center;
    padding: 50px;
  }

.custom-width {
    width: 75%;
}

#main {
    min-height: 600px; 
    background-color: red;
}

.background-img{
background-color: whitesmoke;

}

#bottom {
    background-color: grey;
    color: white;
}




